h1 {
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d4e3ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Microsoft {
    background-color: black;
    border: none;
    color: white;
    width: 200px;
    height: 35px;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 2px;
    font-weight: 300;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Amazon {
    background-color: #f7e17e;
    width: 200px;
    height: 35px;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    border: 3px solid #deb016;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Slack {
    width: 200px;
    height: 35px;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
    display: flex;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Facebook {
    background-color: #2b89d6;
    height: 35px;
    color: white;
    width: 200px;
    margin: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 300;
    display: flex;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Microsoft img{
    width: 20px;
    height: 20px;
    padding-right: 10px;

}
.Amazon img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.Slack img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.Facebook img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.Microsoft:hover{
    box-shadow: 0px 0px 5px rgb(54, 51, 51), 0px 0px 25px rgb(41, 40, 40),0px 0px 50px rgb(37, 36, 36);
    transform: translateY(-5px);
}

.Amazon:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 87), 0px 0px 25px rgb(255, 255, 87),0px 0px 50px rgb(255, 255, 87);
    transform: translateY(-5px);
}

.Slack:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 25px rgb(255, 255, 255),0px 0px 50px rgb(255, 255, 255);
    transform: translateY(-5px);
}

.Facebook:hover{
    box-shadow: 0px 0px 5px rgb(93, 93, 234), 0px 0px 25px rgb(113, 113, 252),0px 0px 50px rgb(48, 48, 230);
    transform: translateY(-5px);
}
